/*
Name: Palaash Gajjar
File: style.css
Date: 02/27/2026
CSS styling for Layout Comprehension Challenge Lab 3 Part 3
*/

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333333;
  margin: 0;
  font: 1.2em / 1.6 sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 1px solid black;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  max-width: 980px;
}

nav {
  background-color: black;
  padding: 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
}

/*---------------------*/

nav ul {
    display: flex;
    justify-content: space-around;
}

nav {
    position: sticky;
    top: 0;
}

.feature {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}