/*
Name: Palaash Gajjar
File: style.css
Date: 02/27/2026
CSS styling for Biography page Lab 3 Part 1
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}

body {
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}

ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}

h1 {
  color: darkslategray;
  border-bottom: 10px dotted purple;
  font-size: 2rem;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
}